{% extends 'app_base.html' %} 

{% block title %}
    <title>Task Mate - Todo List</title>
{% endblock title %}

{% block content %}
    <div class="container">
        </br>
        <h1>Todo List</h1>
        </br>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible fade show
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    alert-success" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    alert-danger" role="alert">
                {% endif %}
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
              <div class="input-group-text">New Task</div>
              <input type="text" class="form-control" name="task" id="task" placeholder="Enter Task Name">
              <button type="submit" class="btn btn-primary">Add New Task</button>
            </div>
        </form>

        </br> </br>

        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr scope="row">
                    <th scope="col-4">Task</th>
                    <th scope="col-3">Status</th>
                    <th scope="col-1">Edit</th>
                    <th scope="col-1">Delete</th>
                    <th scope="col-3">Owner</th>
            </thead>
            <tbody>
                {% if tasks %}
                    {% for obj in tasks %}
                        {% if obj.done %}    
                            <tr scope="row" class="table-success">
                                <th scope="col-4"><del>{{ obj.task }}</del></th>
                                <td scope="col-3"><a href="{% url 'pending_task' obj.id %}" class="btn btn-outline-success">&nbsp;&nbsp;Mark task pending&nbsp;&nbsp;</a></td>
                                <td scope="col-1"><a href="{% url 'edit_task' obj.id %}" class="btn btn-warning">Edit Task</a></td>
                                <td scope="col-1"><a href="{% url 'delete_task' obj.id %}" class="btn btn-outline-danger">Delete Task</a></td>
                                <td scope="col-3">{{ obj.owner.first_name }} {{ obj.owner.last_name }}</td>
                            </tr>
                        {% else %}
                            <tr scope="row">
                                <th scope="col-4">{{ obj.task }}</th>
                                <td scope="col-3"><a href="{% url 'complete_task' obj.id %}" class="btn btn-outline-success">Mark task completed</a></td>
                                <td scope="col-1"><a href="{% url 'edit_task' obj.id %}" class="btn btn-warning">Edit Task</a></td>
                                <td scope="col-1"><a href="{% url 'delete_task' obj.id %}" class="btn btn-outline-danger">Delete Task</a></td>
                                <td scope="col-3">{{ obj.owner.first_name }} {{ obj.owner.last_name }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                {% if tasks.has_previous %}
                    <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
                    <li class="page-item"><a class="page-link" href="?pg={{ tasks.previous_page_number }}">{{ tasks.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="?pg={{ tasks.number }}">{{ tasks.number }}</a></li>
                {% if tasks.has_next %}
                    <li class="page-item"><a class="page-link" href="?pg={{ tasks.next_page_number }}">{{ tasks.next_page_number }}</a></li>
                    <li class="page-item"><a class="page-link" href="?pg={{ tasks.paginator.num_pages }}">>></a></li>
                {% endif %}
            </ul>
          </nav>
    </div>
{% endblock content %}
